<div class="row">



  <div class="card text-bg-light">
    <div class="card-header">Estudiantes por materias</div>
    <div class="card-body">





      <div class="row mt-5">


        <table class="table table-hover">
          <thead>
            <tr>

              <th scope="col">Nombre del estudiante</th>
              <th scope="col">Correo</th>

            </tr>
          </thead>

          <tbody>
            @if (estudiantesMateria.length!==0) {
              @for (item of estudiantesMateria; track $index) {
                <tr>
                  <td>{{item.Estudiante}}</td>
                  <td >{{item.Email}}</td>

                </tr>
              }

            }@else{
                  <tr>
                    <td colspan="2"><div class="mensaje-vacio">Materias sin estudiantes</div></td>


                  </tr>


            }

          </tbody>
        </table>
      </div>

    </div>
  </div>



</div>
