


<div class="row mt-2">


  <div class="col-lg-4 col-md-4 col-ms-4 ">

    <div class="card border-info text-center" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-info ">Registrar Materias</div>
      <div class="card-body ">
        <i class="bi bi-journal-arrow-down fs-1"></i>
        <p class="card-text">Registra las materias que va a enseñar.</p>
        <a [routerLink]="['/dashboard/registrarmateria']" class="btn btn-outline-primary"> Registrar</a>
    </div>


  </div>

</div>
  <div class="col-lg-4 col-md-4 col-ms-4 text-center ">

    <div class="card border-info " style="max-width: 18rem;">
      <div class="card-header border-info">Estudiantes</div>
      <div class="card-body">
        <i class="bi bi-book fs-1"></i>
        <p class="card-text">Ingrese aqui para ver los estudiantes por materia.</p>
        <a [routerLink]="['/dashboard/verestudiantesmateria']" class="btn btn-outline-primary"> Ver</a>

      </div>
    </div>

  </div>



</div>
