
<div class="row mt-2">


  <div class="col-lg-4 col-md-4 col-ms-4 ">

    <div class="card border-success  text-center" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-success  ">Registrar Materias</div>
      <div class="card-body ">
        <i class="bi bi-journal-arrow-down fs-1"></i>
        <p class="card-text">Registre las materias que desea cursar.</p>
        <a [routerLink]="['/estudiante/inscribirmaterias']" class="btn btn-outline-success "> Registrar</a>
    </div>


  </div>

</div>
  <div class="col-lg-4 col-md-4 col-ms-4 text-center ">

    <div class="card border-success  " style="max-width: 18rem;">
      <div class="card-header border-success ">Estudiantes</div>
      <div class="card-body">
        <i class="bi bi-book fs-1"></i>
        <p class="card-text">Ingrese aqui para ver los estudiantes por materia.</p>
        <a [routerLink]="['/estudiante/verestudiantesmateria']" class="btn btn-outline-success "> Ver</a>

      </div>
    </div>

  </div>



</div>

