<div class="row">



  <div class="card text-bg-light">
    <div class="card-header">Estudiantes por materias</div>
    <div class="card-body">
      <form (submit)="SendForm()" [formGroup]="fg">
        <div class="row">


          <div class="col-lg-2 col-md-2 col-ms-2">

            <label for="">Materia</label>
          </div>
          <div class="col-lg-5 col-md-5 col-ms-5">
            <select class="form-select" formControlName="Materia" aria-label="Default select example">
              <option value="">Seleccione una opcion</option>
              @for (item of materiasByProfesorResponse; track $index) {
              <option value="{{item.MateriaId}}">{{item.Materia}}</option>
              }
            </select>
            <div *ngIf="fg.get('Materia')?.invalid && fg.get('Materia')?.touched" class="colorRed">
              La materia es obligatorio.
            </div>

          </div>
          <div class="col-lg-4 col-md-4 col-ms-4">
            <button type="submit" class="btn btn-outline-primary">Filtrar</button>
          </div>


        </div>
      </form>



      <div class="row mt-5">


        <table class="table table-hover">
          <thead>
            <tr>

              <th scope="col">Nombre del estudiante</th>
              <th scope="col">Correo</th>

            </tr>
          </thead>

          <tbody>
            @if (estudianteProfesor.length!==0) {
              @for (item of estudianteProfesor; track $index) {
                <tr>
                  <td>{{item.Estudiante}}</td>
                  <td >{{item.Email}}</td>

                </tr>
              }

            }@else{
                  <tr>
                    <td colspan="2"><div class="mensaje-vacio">No tiene estudiantes por el momento...</div></td>


                  </tr>


            }

          </tbody>
        </table>
      </div>

    </div>
  </div>



</div>
